# AWS Credentials
# Used by the Spark S3A connector to read/write from s3://nyc-tlc-pipeline
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here

# S3 Configuration
S3_BUCKET=nyc-tlc-pipeline
S3_ENDPOINT=s3.amazonaws.com

# Jupyter
JUPYTER_TOKEN=tlc

# Spark
SPARK_LOCAL_IP=0.0.0.0
